#headline-img-container{
	width: 90%;
	margin: 20px 0;
}

#headline-img{
	width: 65%;
	height: auto;
	float: left;
}

#headline-content{
	width: 30%;
	float: left;
	padding: 10px;
	background-color: #fff;
	height: 100%;
}

#headline{
	background-color: #fff;
	height: stretch;
	padding-top: 20px;
}